<%provide(:title, 'How it Works')%>

<h3>How it Works!</h3>

<h4>Garden Exchange</h4>
<p>This site is intended to bring gardeners with excess harvest together with people in the community that would appreciate them. </p>

<h4>If you want to share</h4>
<p><b>Step 1:</b> Click <a href="<%= new_item_path %>">List Item</a> and post the harvest you'd like to share with your follow neighbor.</p>

<p><b>Step 2:</b> Select the best category that fits your posting.</p>

<p><b>Step 3:</b> Load a picture or use default image. You can use the default image triggered by the category you've selected to represent the item you'd like to share, or you can show off your superior fruits of labor by taking and loading your own picture of your harvest</p>

<p><b>Step 4:</b> Brag about your amazing contribution, share details you'd like people to know about your offerred harvest.</p>

<p><b>Step 5:</b> Verify your location of where your item and you are. If the address that pops up on the site isn't quite right, or maybe too specific, overwrite the address. Just remember that the address entered marks where the harvest is on our search map.</p>

<p><b>Step 6:</b> Provide a way for Garden Exchange to contact you with a neighbor's contact information for your posted harvest.</p>

<p>Voila, you're done. You'll be contacted the minute an interested neighbor expresses interest in your posting.</p>

<h4>If you want to see what's available </h4>
<p> You can look up available harvests two ways, either by <a href= "<%= root_path %>">map</a> or by <a href= "<%= list_path %>">list</a>. Either way, you can search for postings within a specific miles radius and/or category.</p>
<p><b>Step 1:</b> Once you've found an posting that interests you, click the item to request it</p>
<p><b>Step 2:</b> Enter your name. This information will be shared with the gardener with the excess harvest</p>
<p><b>Step 3:</b> Enter any questions or information you'd like to share with the gardener for the item being requested</p>
<p><b>Step 4:</b>Provide a means for the gardener to contact you regarding pick up the harvest being asked for.</p>
<p> Request it and you're done. Just sit back and wait for the gardener to contact you to complete the exchange. </p>