<div class="form-group">
  <div class = "center">
    <p><%=@item.category.category%> </p>
    <p>Description: <%=@item.description%></p>
    <div id='image_container_request' class='block text-center'>
      <%= image_tag @item.image.url(:medium), class: 'imageClip img-responsive', id:"image" %>
  </div>   <!-- center -->
</div>  <!-- form-group -->

<br>
