<% provide(:title,'Search List') %>
<html>
  <head>
    <title>Garden Exchange | <%=yield(:title)%></title>
  </head>

 <body>
  <h1>Garden Exchange | Search List</h1>
  <%= render 'show_list' %>

  <%= render 'shared/search_form' %>
  </body>
</html>
